<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Beijing Winter Olympic Information</h1>
  
  <p> Tables in out database
  <div>
    {% for n in test %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  
  <p> The 5th query result
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="/another">有用吗</a></p>

<form method="POST" action="/add">
<p>Interested Events: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
