<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Beijing Winter Olympic Information</h1>
  
  <p> Tables in out database 数据库中的可用表
  <div>{{all_tables}}</div>
  
  <p><a href="/medal_ranking">View Medal Ranking 查看奖牌榜</a></p>
  
  <p> All events 所有比赛信息
  <div>
    {% for event in event_data %}
    <div>{{event}}</div>
    {% endfor %}
  </div>

  <p> User's interested event id
  <div>
    {% for n in id_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<form method="POST" action="/add">
<p>Interested Events: <input type="int" name="id"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
