 <html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Medal Ranking 奖牌榜</h1>

  
<form method='POST',action="/action_page.php">
<label for="category">Choose category:</label>
  

<select id="category" name="category">
  <option value="all">ALL</option>
  <option value="Figure Skating">Figure Skating</option>
  <option value="Freestyle Skiing">Freestyle Skiing</option>
  <option value="Snowboard">Snowboard</option>
</select>
 
<br>
 
<label for="type">Choose medal type:</label>
<select id="type" name="type">
  <option value="all">ALL</option>
  <option value="gold">gold</option>
  <option value="silver">silver</option>
  <option value="bronze">bronze</option>
</select>

<br>
<label for="country">Select a country:</label>
<select id="country" name="country">
  <option value="All">All</option>
  <option value="People''s Republic of China">People''s Republic of China</option>
  <option value="ROC">ROC</option>
  <option value="Japan">Japan</option>
  <option value="Switzerland">Switzerland</option>
  <option value="Belgium">Belgium</option>
  <option value="France">France</option>
  <option value="United States of America">United States of America</option>
  <option value="Canda">Canda</option>
  <option value="Norway">Norway</option>
</select>
<br>
<button onclick="submit(document.getElementById('category').value,
                 document.getElementById('type').value,
                 document.getElementById('country').value
                 )">Submit</button>

</form>



</body>


</html>
