 <html>
  
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Medal Ranking 奖牌榜</h1>

<form class="form-inline" method="POST" action="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="category" class="selectpicker form-control">
              <option value="all">ALL</option>
              <option value="Figure Skating">Figure Skating</option>
              <option value="Freestyle Skiing">Freestyle Skiing</option>
              <option value="Snowboard">Snowboard</option>
            </select>
     <br>
        <span class="input-group-addon">Please select</span>
            <select name="type" class="selectpicker form-control">
              <option value="all">ALL</option>
              <option value="gold">gold</option>
              <option value="silver">silver</option>
              <option value="bronze">bronze</option>
     <br>
        <span class="input-group-addon">Please select</span>
           <select name="country" class="selectpicker form-control">
              <option value="All">All</option>
              <option value="People's Republic of China">People''s Republic of China</option>
              <option value="ROC">ROC</option>
              <option value="Japan">Japan</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Belgium">Belgium</option>
              <option value="France">France</option>
              <option value="United States of America">United States of America</option>
              <option value="Canda">Canda</option>
              <option value="Norway">Norway</option>
</select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>

 Test 求求
 <div>
    {% for n in medal_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
 
  
</body>


</html>
